:root {
    --bg: #1e1e2e;
    --fg: #c6d0f5;
    --second-bg: #11111b;
    --blue: #8caaee;
    --violet: #BB9AF7;
    
}

body {
    background-image: url("assets/topography.svg");
    font-family: monospace;
    text-color: var(--fg);
    background-color: var(--second-bg);
    margin: auto;
    width: 50%;
}

.content {
    margin-top: 12%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    color: var(--fg);
}

#clock {
    font-size: 60px;
}

#date {
    font-size: 30px;
    text-align: center;
}

#time {
    text-align: center;
    margin-bottom: 50px;
}

.slide-border-color {
    border: 0.5em solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#1a1b26, #1a1b26), 
                    linear-gradient(to right, transparent 50%, var(--fg) 50%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    transition: background-position ease-in-out 500ms;
}

.slide-border-color:focus-within {
    background-position: -100% 0;
}

#searchbar {
    all: unset;
    width: inherit;
    height: inherit;
    padding: 10px;
    font-size: 22px;
    dispay: block;
    color: var(--fg);
}

a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    display: inline-block;
    padding: 2px 0px;
}

a:hover {
    color: var(--violet)
}

a::before {
    content: "> ";
}


#links {
    color: var(--fg);
    margin-top: 25px;
    margin-left: 10%;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
}


.list {
    background-color: transparent;
    border-radius: 15px;
    margin: 10px;
    flex: 1 1 0%;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

#st {
    margin: 0px;
}
