@import "/home/sentience/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrains Mono NF";
}

window#waybar {
    background: transparent;
    margin-bottom: 5px;
}

#workspaces,
#cava,
#clock {
    background-color: @background;
    box-shadow: 0 0 3px 3px @color6;
    border-bottom: 1px solid @color6;
    margin-bottom: 6px;
}

#workspaces {
    border-right: 1px solid @color6;
    margin-right: 10px;
    border-radius: 0 0 10px 0;
}

#workspaces button {
    min-height: 4px;
    min-width: 4px;
    margin: 5px 3px;
    font-size: 0;
    padding: 3px;
    background-color: @color6;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    padding: 0px 10px;
    background-color: @color6;
    transition: all 0.3s ease-in-out;
}

#cava {
    border-radius: 0 0 10px 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
    border-left: 1px solid @color6;
    border-right: 1px solid @color6;
}

#clock {
    border-left: 1px solid @color6;
    border-radius: 0 0 0 10px;
    margin-left: 10px;
}
