@import "/home/sentience/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrains Mono NF";
}

window#waybar {
    background: transparent;
    margin-bottom: 5px;
}

#workspaces,
#cava,
#clock {
    background: linear-gradient(@background, @background) padding-box,
        linear-gradient(45deg, @color4, @color5) border-box; 
    padding: 2px;
    border: 4px solid transparent;
    border-top: unset;
}

#workspaces {
    margin-right: 10px;
    border-radius: 0 0 10px 0;
    border-left: unset;
}

#workspaces button {
    min-height: 4px;
    min-width: 4px;
    margin: 5px 3px;
    font-size: 0;
    padding: 3px;
    background-color: @color8;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    padding: 0px 10px;
    background-color: @color4;
    transition: all 0.3s ease-in-out;
}

#cava {
    border-radius: 0 0 10px 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

#clock {
    border-radius: 0 0 0 10px;
    border-right: unset;
    margin-left: 10px;
}
