@import "/home/sentience/.cache/wal/colors-waybar.css";

@define-color bg #11111B;
@define-color darkGray #181825;
@define-color gray #1D1D2D;
@define-color lightGray #303143;
@define-color white #303143;

* {
    font-family: "JetBrains Mono NF";
}

window#waybar {
    background-color: @bg;
    color: #ffffff;
}

#custom-leftArrowDarkGray,
#custom-rightArrowDarkGray,
#custom-leftArrowInverseDarkGray,
#custom-rightArrowInverseDarkGray {
    font-size: 12pt;
    background: transparent;
    color: @darkGray;
}

#custom-leftArrowGray,
#custom-rightArrowGray,
#custom-leftArrowInverseGray,
#custom-rightArrowInverseGray {
    font-size: 12pt;
    background: transparent;
    color: @gray;
}

#custom-leftArrowLightGray,
#custom-rightArrowLightGray,
#custom-leftArrowInverseLightGray,
#custom-rightArrowInverseLightGray {
    font-size: 12pt;
    background: transparent;
    color: @lightGray;
}

#custom-leftArrowWhite,
#custom-rightArrowWhite {
    font-size: 12pt;
    background: transparent;
    color: @white;
}

#workspaces button {
    min-height: 0px;
    font-size: 1px;
    margin: 7px 3px;
    padding: 0px 0px;
    background-color: @color4;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    min-height: 0px;
    font-size: 1px;
    padding: 0px 13px;
    background-color: @color5;
    transition: all 0.3s ease-in-out;
}

#temperature,
#cpu,
#memory,
#clock.time {

}

#pulseaudio,
#workspaces,
#battery,
#cpu {
    background-color: @darkGray;
}

#network,
#temperature,
#memory {
    background-color: @gray;
}

#clock.calendar,
#clock.time {
    background-color: @lightGray;
}

#custom-logo {
    background-color: @white;
}
